body{
  background-color: rgb(65, 64, 64);
} 
.navbar-brand, .text-center, .nav-link{
  color: wheat;
 }
  .card{
  background-color: black;
  color: wheat;
 }
.btn{
  background-color: rgb(65, 64, 64);
  color: wheat;
 }
 .btn:hover{
  background-color: wheat;
  color: rgb(65, 64, 64);
 }
 #PNbtn{
  background-color: black;
  color: wheat;
 }
  #PNbtn:hover{
  background-color: wheat;
  color: black;
 }
#loading{
  height: 10rem;
  width: auto;
}

